.ChakWithWindow {
  display: flex;
  justify-content: center;

  .window {
    padding: 24px 24px 24px 24px;
    margin-top: 165px;
    position: relative;
    width: 1120px;
    min-height: 162px;
    background: #422ed4;
    /* shadow/bg */

    box-shadow: 0px 100px 80px rgba(80, 76, 103, 0.07),
      0px 0px 10.0172px rgba(80, 76, 103, 0.035);
    border-radius: 25px;

    .phrase {
      z-index: 2;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */

      color: #ffffff;
    }
    img {
      position: absolute;
      bottom: 65px;
      right: 60px;
     
      z-index: -1;
    }
  }
}
